@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>A Simple Scaling Calculator</h2>
    <h4>
        Typically 4-20 mA signals are used to transfer a physical value such as a temperature, pressure or other physical quantity.
        The current in the loop represents the corresponding physical value.


        <p> For Example:</p>
    </h4>
    <h5>
        <p>
            A 4-20mA temperature transmitter with a range of 0 to 100C measures a temperature of 20C.
            Then a current of 7.2 mA will flow in the loop.
            The current corresponding to a measured value can be calculated with the 4-20mA scaling calculator.
        </p>


        <p>
            This demo will assume a linear time invariant system characteristics.
        </p>
    </h5>




    <p><a href="~/Home/Calculate" class="btn btn-primary btn-lg">Get going! &raquo;</a></p>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@